@import url('https://fonts.googleapis.com/css2?family=Acme&family=Sniglet&display=swap');

*{
    margin: 0;
    padding: 0;
}

.logo{
    background-color: #FFFF00;
}
.logo img{
    width: 120px;
    height: 120px;
    display:flexbox;
    margin:auto;
}
.inicio h1{
    color: #ee3633;
    font-size: 80px;
}
.inicio h2{
    color:darkgreen;
    font-size: 45px;
}

.menu{
    background-color: rgb(213, 250, 250);
}

.compu img{
    border-radius: 10%;
    display:block;
    margin:auto;
}

.video p{
    text-align: center;
    text-transform: uppercase;
    color: #33aaee;
    font-size: 30px;
}
.video iframe{
    width: 1200px;
    height: 900px;
    display:block;
    margin:auto;
}
.mapa h2{
    color: #ee3633;
}
.mapa{
    background:linear-gradient(#bef59c,#9bdbe5)
}
.nombre{
    background-color: #0134fe;
}
.nombre h6{
    font-size: 20px;
    color: #F8F8FF;
    font-family:'Advertencia', cursiva;
}

/*QUINEE SOMOS*/
.quienesosmos h1{
    font-family:'Gloria Hallelujah', cursive;;
    color: #0134fe;
    font-size: 50px;
}
.quienesosmos img{
    width: 850px;
    height: 620px;
}
.texto h1{
    font-size: 30px;
    font-family: 'Monoton', cursive;
    color:#ee3633;
}
.texto p{
    font-size: 30px;
    font-family: 'Rubik Glitch', cursive;
}


/*CONTACTO*/

.Contacto fieldset {
    height: 140px;
    width: 500px;
    border-spacing: 700px;
    border-color: #36058c;
    font-size:large;
    padding:1em;
}
.contenidoCont {
    position: absolute;
    height: 100vh;
    width: 90%;
    background-color: #ffff;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 50px;
}

.contenidoCon h1 {
    text-align: center;
    background: linear-gradient(#f91b1b, #419ceb);
    -webkit-background-clip: text;
    color: transparent;
}

.contenidoCon h3 {
    padding: 70px;
    text-align: center;
}

.Contacto {
    position: relative;
    height: 80vh;
    background-color: rgb(212, 241, 248);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.Contacto .preguntas h4{
    font-size: 25px;
}
.Contacto .preguntas h6{
    font-size: 50px;
    color: #030570;
}
